#flexing {
    width: 1000px;
    height: 1000px;
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
}

#flexing img {
    width: 12%;
}

#headerflex {
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

#headerflex div {
    display: flex;
    justify-content: flex-start;
}

#headerflex nav {
    display: flex;
    justify-content: flex-end;

}

nav ul > li {
    display: inline-block;
}

#headerflex img {
    width: 15%;
}

/*----------------------------------------------------------*/
h1 {
    text-align: center;
    color: wheat;
    font-size: 70px;
}

#boppgave3 {
    background-image:url(images/Hotel-background.jpg) ;
    background-repeat: no-repeat;
}

#hotelflex {
    color: wheat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#venstre {
    background-color: rgba(0, 0, 0, 0.623);
    width: 550px;
    height: 500px;
    padding: 30px;
}

#venstre p, #venstre ul {
    margin-top: 70px;
}

#venstre p, #venstre ul, #venstre h2, #venstre h3 {
    margin-left: 20px;
}

#høyre {
    background-color: rgba(36, 133, 243, 0.438);
    width: 550px;
    height: 500px;
    padding: 30px;
    text-align: center;
}

#høyre select {
    width: 224px;
    padding: 10px;
    margin-top: 20px;
}

form input {
    width: 200px;
    padding: 10px;
    margin-top: 20px;
}

#submit {
    width: 224px;
    background-color: black;
    color: wheat;
}
